<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="ConfigurationProvider" type="Dlp.Buy4.Framework.Configuration.XmlNodeSectionHandler, Buy4.Framework" allowLocation="true" allowDefinition="Everywhere" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  
    <appSettings>
      <add key="MySetting" value="OriginalValue"/>
      <add key="ListenUrl" value="http://localhost:5001"/>
    </appSettings>

    <ConfigurationProvider>
      <StaticConfiguration>
        <HueHue>
          <Name>BrBrBr</Name>
        </HueHue>
      </StaticConfiguration>
    </ConfigurationProvider>

    <connectionStrings>
      <add name="MyDB" connectionString="Server=127.0.0.1;Database=MyDB;User Id=MyAppUser;Password=SomeUnguessablePassword;" />
    </connectionStrings>
</configuration>