<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ConfigurationProvider" type="Dlp.Buy4.Framework.Configuration.XmlNodeSectionHandler, Buy4.Framework" allowLocation="true" allowDefinition="Everywhere" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="MySetting" value="OriginalValue" />
    <add key="ListenUrl" value="http://*:5002" />
  </appSettings>
  <ConfigurationProvider>
    <StaticConfiguration>
      <HueHue>
        <Name>BrBrBr</Name>
      </HueHue>
      <Logger>
        <ServiceEndpoint>http://dev-logger.stone.com.br:8733/v1/log</ServiceEndpoint>
      </Logger>
    </StaticConfiguration>
  </ConfigurationProvider>
  <connectionStrings>
    <add name="MyDB" connectionString="Server=127.0.0.1;Database=MyDB;User Id=MyAppUser;Password=SomeUnguessablePassword;" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>